@using DbOpertion.Models;
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? NowPage = (int?)ViewBag.NowPage;
    int? PageSum = (int?)ViewBag.PageSum;
    var listCommView = ViewBag.ListComm == null ? new List<Commodity_Stageprice_View>() : (List<Commodity_Stageprice_View>)ViewBag.ListComm;
}
<link href="~/Current/css/Search/Search.css" rel="stylesheet" />
<script src="~/Base/js/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" href="~/base/css/style.css">
<script>
    var text = '@ViewBag.text';
    $(function () {
        //$(".index__item___3ChSK a").mousedown(function () {
        //    $(this).addClass("ItemActive");
        //    selectedItem = $(this);
        //    setTimeout(function () {
        //        $(selectedItem).removeClass("ItemActive");
        //    }, 200);
        //});

        //$(".index__item___3ChSK a").mouseup(function () {
        //    if ($(this).hasClass("ItemActive")) {
        //        location.href = $(this).attr('href');
        //    }
        //});
    })
</script>
<style>
    .index__item___3ChSK a:active {
        background-color: white;
        opacity: 0.3;
    }
</style>
<div style="clear:both;"></div>
<div id="dji-store-page" style="visibility: visible;padding-top: 20px;">
    <div id="searchWrap">
        @if (ViewBag.Count == 0)
        {
            <div class="index__empty___3T0uB">共找到0个关于"@(ViewBag.text)"的搜索结果</div>
        }
        else
        {
            <h3 class="header__title___2C0jX">共找到@(ViewBag.Count)个关于"@(ViewBag.text)"的搜索结果</h3>
            <div class="index__pagination___1DtTP">
                <div class="index__pagination___3V_eC">
                    @{
                        var PrevString = "";
                        var PrevDisable = "disabled=\"disabled\"";
                        if (NowPage != 1)
                        {
                            PrevString = $"layer.load(1); window.location =\"../../CommodityList/Search?sText={ViewBag.text }&PageNo={NowPage - 1}\";";
                            PrevDisable = "";
                        }
                        var NextString = "";
                        var NextDisable = "disabled=\"disabled\"";
                        if (NowPage < PageSum)
                        {
                            NextString = $"layer.load(1); window.location =\"../../CommodityList/Search?sText={ViewBag.text }&PageNo={NowPage + 1}\";";
                            NextDisable = "";
                        }
                    }
                    <button class="index__prev___1DuvC" onclick="@PrevString" @PrevDisable>Prev</button>
                    <div class="index__pages___3qU9P">
                        <span>@ViewBag.NowPage</span>
                        <span>/</span>
                        <span>@ViewBag.PageSum</span>
                    </div>
                    <button class="index__next___3lFs9" onclick="@NextString" @NextDisable>Next</button>
                </div>
            </div>
            <ul class="index__list___zCnOS">
                @foreach (var item in listCommView)
                {
                    <li class="index__item___3ChSK">
                        <a href="../../Commodity/Index?CommodityId=@item.Id">
                            <div class="index__media___3GKlX">
                                <img src="@ViewBag.AdminUrl@item.Image" class=" lazyloaded">
                            </div>
                            <div class="index__info___2nmzG">
                                <h5 class="index__title___3v1Ku">
                                    @item.Name
                                </h5>
                                <p class="index__description___2qrMq">@item.Introduce</p>
                                <div class="index__money___3T2m0"></div>
                            </div>
                        </a>
                    </li>
                }

            </ul>
            <div class="index__pagination___1DtTP">
                <div class="index__pagination___3V_eC">
                    <button class="index__prev___1DuvC" onclick="@PrevString" @PrevString>Prev</button>
                    <div class="index__pages___3qU9P">
                        <span>@ViewBag.NowPage</span>
                        <span>/</span>
                        <span>@ViewBag.PageSum</span>
                    </div>
                    <button class="index__next___3lFs9" onclick="@NextString" @NextDisable>Next</button>
                </div>
            </div>
        }

    </div>
    <footer id="site-footer" style="display: block;">
        <div class="index__m-footer___3wbfs container">
            <div class="index__ctn-block____MJ_9">
                <a href="javascript:;" target="_blank">SLOON.CN</a>
                <a href="javascript:;" target="_blank">隐私政策</a>
                <a href="javascript:;" target="_blank">使用条款</a>
            </div>
            <p class="index__copyright-desc___UIBfr index__ctn-block____MJ_9">版权所有© @DateTime.Now.Year 赛龙保留所有权利</p>
        </div>
    </footer>
</div>
<div class="go-top"></div>
<script src="~/base/js/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
@*<script src="~/base/js/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/base/js/slideout.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/base/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/base/js/ydui.flexible.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/base/js/ydui.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/base/js/public.js" type="text/javascript" charset="utf-8"></script>*@
<script type="text/javascript" charset="utf-8">

    $(function () {
        $('.page-class-box .list-box dt').click(function () {
            $(this).parent().find('dd').toggle();
        });
    });

</script>

<script src="~/Current/js/CommodityList/search.js?ver201803231002"></script>
