
@{
    Layout = null;
    var Storage = (DbOpertion.Models.Storage_View)ViewBag.StorageFullInfo;
}
<!DOCTYPE html>
<div style="margin: 15px;">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">编号：</label>
            <div class="layui-input-block" style="top:10px;">
                <label>@Storage.Id</label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名称：</label>
            <div class="layui-input-inline">
                <label>@Storage.Name</label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单位：</label>
            <div class="layui-input-inline">
                <label>@Storage.Unit</label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">型号：</label>
            <div class="layui-input-inline">
                <label>@Storage.standard</label>
            </div>
        </div>
        @*<div class="layui-form-item">
            <label class="layui-form-label">单价：</label>
            <div class="layui-input-inline">
                <label>@Storage.Price</label>
            </div>
        </div>*@
        @*<div class="layui-form-item">
            <label class="layui-form-label">毛重：</label>
            <div class="layui-input-inline">
                <label>@Storage.GrossWeight</label>
            </div>
        </div>*@
        @*<div class="layui-form-item">
            <label class="layui-form-label">净重：</label>
            <div class="layui-input-inline">
                <label>@Storage.NetWeight</label>
            </div>
        </div>*@
        @*<div class="layui-form-item">
            <label class="layui-form-label">组成材料：</label>
            <div class="layui-input-inline">
                <label>@Storage.Material</label>
            </div>
        </div>*@ @*<div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-inline">
                <label>@Storage.Remark</label>
            </div>
        </div>*@
        <button lay-filter="edit" lay-submit style="display: none;"></button>
    </form>
</div>
